body
  font 14px 'Helvetica Neue', Helvetica, Arial, sans-serif

.active
  color: red
  font-weight: bold

blockquote
  color: green

.navigation
  background: #f4f5f6
  border-bottom: .1rem solid #d1d1d1
  display: block
  height: 5.2rem
  width: 100%
